{% extends layout %}

{% block title %}
{{app.translator.trans('error.title')}}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block header %}
{{app.translator.trans('head')}}
{% endblock %}

{% block content %}
<div class="error">{{app.translator.trans('error.message')}}</div>
<div class="clear"></div>
{% endblock %}

{% block footer %}
{{app.translator.trans('foot')}}
{% endblock %}

{% block javascripts %}
{% endblock %}
